.createAccount{
    background-image: url("https://www.chetu.com/img/banking/mobile-banking/sliderbg/mobile-banking-banner.jpg");
    background-size: cover;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:100vw;
}
.selecting{
    padding:20px;
    background-color:rgba(255, 255, 255, 0.17);
    box-shadow:0px 0px 20px grey;
    background-image: linear-gradient(0deg,rgb(187, 15, 206),transparent);
    border-radius: 20px;
    display: flex;
    height:300px;
    width:350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inr{
    margin-left: 30px;
}
.l{
    font-weight: bold;
}
.s1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.createButton{
    margin-top: 50px;
    background-image: linear-gradient(0deg,rgb(10, 141, 32),transparent);
    border-radius: 5px;
    height:40px;
    border:none;
    font-size: 20px;
    width:120px;
    
    font-weight: bold;

}
.in{
    margin-bottom: 30px;
    margin-left: 10px;
    height:30px;
    border-radius:10px;
    font-style: italic;
    background-color:gainsboro;
    border:none;
    width:200px;
    box-shadow:0px 0px 10px  grey;
}
.label{
    font-size: 20px;
    
    font-weight: bold;
}
