.Loanss{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    height:500px;
    width:800px;
}
.main-loan{
    display: flex;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220217/pngtree-red-gradient-net-loan-security-background-design-image_950800.jpg");
    background-size: cover;
    height:100vh;
    width:100vw;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}